body{
	/*background-image: url(https://unsplash.com/photos/uFNElcqa6D0);*/
	background-color: pink;
	align-items: center;


}

#circle{

	  width: 100px;
      height: 100px;
      padding: 50px;
      background: red;
      border-radius: 50%;
        position: relative;

  animation-name:circle;
  animation-duration: 10s;
}
  



@keyframes circle{
	0%{background-color:yellow;left:0px; top:0px}
	25%{background-color:blue; left:2000px; top:0px;}
	50%{background-color:white; left:2000px; top:2000px;}
	100%{background-color:green;left:0px; top:200px;}
}
#rec{
      width: 200px;
      height: 100px;
      background: red;
      position: relative;
      animation-name:rec;
  animation-duration: 10s;
    }

@keyframes rec{
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:2000px; top:0px;}
  50%  {background-color:blue; left:2000px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
   #triangle-up{
      width: 0;
      height: 0;
      position: relative;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;

    animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
  opacity: .7;
         }
        @keyframes skew {
  0% {
    transform: skewX(180deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}


